@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    @apply bg-[#FAFAFA] text-[#111111] antialiased selection:bg-[#111111] selection:text-white;
  }

  a {
    @apply text-inherit no-underline;
  }
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;

    --primary: 0 0% 7%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 7%;

    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 7%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 7%;
    --radius: 0rem; /* Cavemen don't do soft rounded corners. Sharp edges! Wait, maybe a tiny curve. Let's make it 1rem instead of 1.5rem to be slightly sharper but modern */
  }

  /* I will set radius to 1rem for modern minimalism, overriding the 1.5rem */
}

@layer base {
  :root {
    --radius: 1rem;
  }
}

.cl-logoImage {
  width: 100px !important;
  height: 100px !important;
}
